body{
    background-image: url('https://image.freepik.com/foto-gratis/fondo-abstracto-diseno-poli_1048-8478.jpg ');
    background-size: 100% 100%;
    background-attachment: fixed;
    }
    
    .recuadro{
        border-radius: 7px;
        border-top: 5px solid rgb (111, 0,255);
    
        width: 300px;
        box-shadow: 0 0 3px o rgba(0,0,0, 0.4);
        background-color: rgba(133, 133, 133, 0.671);
        padding: 20px;
        margin: 8px auto 0;
        text-align: center;
        margin-top: 100px;
    
    
    }
    label{
        font-weight: bold;
        font-size: 20px;
        color: rgb(34, 1, 248);
        font-style: oblique;
        
    }